name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions: 
          - "scala2"
          - "scala3"
    steps:
      - uses: actions/checkout@v4
      - id: scala-version
        run: |
          scala_version=$(grep "${{ matrix.versions }}" project/Dependencies.scala | sed -E 's/.*= //')
          echo "value=${scala_version}" >> $GITHUB_OUTPUT
      - uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "sbt"
      - uses: sbt/setup-sbt@v1
      - run: sbt ++${{ steps.scala-version.outputs.value }} test
        if: matrix.versions == 'scala3'
      - run: sbt ++${{ steps.scala-version.outputs.value }} coverage test coverageReport
        if: matrix.versions == 'scala2'
      - uses: codecov/codecov-action@v5
        if: matrix.versions == 'scala2'
        with:
          flags: unittests
          verbose: true
  scalafmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "sbt"
      - uses: sbt/setup-sbt@v1
      - run: sbt scalafmtCheckAll
  scalafix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "sbt"
      - uses: sbt/setup-sbt@v1
      - run: sbt "scalafixAll --check"
